@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    color: #2d2d2d;
    background: #eeeee7;
    font-size: 1em;
    font-family: Calibri, sans-serif;
    line-height: 135%;
}

a{
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;
}
a heaver{/*ссылка*/
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;/*для експлорера*/
}

/*Создаем стили при выделении на сайте*/
::selection{
    background: #ffa642;
    color: #eeeee7;
}

header, footer {
    width: 98%;
    background-color: #eeeee7;
    min-height: 100px;
}

/*ШАПКА*/
header{
    width: 100%;
    height: 98%;
    background-color: #2d2d2d;
    position: relative;
}
.logo{
    width: 7%;
    margin-left: 11%;
    position: absolute;
    top: 4%;
}
#buttom-block {
    position: absolute;
    top: 30%;
    right: 3%;
    width:50%;
    min-height: 50%;
    text-align: center;
    float: right;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
}
#buttom-block li {
    display: inline-block;
    width: 20%;
    padding: 1%;
}
#nav ul { margin: 0; }

#buttom-block a {
    color: #eeeee7;
}
#buttom-block a:hover {
    color: #ffa642;
}
#reg a {
    color: #ffa642;
}
#reg a:hover {
    color: #eeeee7;
}
/*КОНЕЦ ШАПКИ*/

/*ПЕРВАЯ СТРАНИЦА*/
#first-page{
    /*min-height: 500px;
    width: 100%;*/
    min-height: 557px;
    background-image: url("../img/back-about.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #76c3e6;
    position:relative;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: Mistral, sans-serif;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
p {
    font-size: 1.5em;
}
#left {
    text-align: justify;
    float: left;
    padding-left: 13%;
    padding-right: 5%;
    padding-bottom: 3%;
    width: 32%;
}
#right {
    text-align: justify;
    float: right;
    padding-right: 13%;
    padding-left: 5%;
    padding-bottom: 3%;
    width: 32%;
}
/*КОНЕЦ ПЕРВОЙ СТРАНИЦЫ*/


/*ФУТЕР*/
footer {
    width: 100%;
    background-color: #2d2d2d;
    text-transform: uppercase;
    height: 100%;
    padding-bottom: 12%;
}

#footerleft{
   float: left;
   width: 40%;
   height: 30%;
}
#footerleft img{
   width:31%;
   padding-top: 1%;
   padding-bottom: 4%;
}
#footerleft {
    color:#ffa642;
    text-align: center;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}
#footerleft li {
   display: inline-block;
   width: 20%;
   padding: 2%;
}
#footerleft a:hover {
    color: #eeeee7;
}

#footercenter{
    padding-top: 3%;
    float: right;
    width: 18%;
    text-align: left;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}

#footercenter li {
    display: block;
    padding: 6%;
    padding-left: 2%;
}
#footercenter a:hover {
    color: #eeeee7;
}

#footerright{
      width: 32%;
      float:right;
      color: #eeeee7;
}
.adres{
    padding-top: 12%;
    padding-bottom: 8%;
    font-size: 1.5em;
    color:#ffa642;
}
.address{
    padding-bottom: 7%;
}
.mail{
    margin-bottom: 6%;
}

.networks img{
   width: 6%;
   padding-right: 10%;
}
/*КОНЕЦ ФУТЕРА*/
