@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    color: #2d2d2d;
    background: #eeeee7;
    font-size: 1em;
    font-family: Calibri, sans-serif;
    line-height: 135%;
}

a{
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;
}
a heaver{/*ссылка*/
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;
}
img{
    max-width: 100%;
    height: auto;
}
.menu2{
    display: none;
}

::selection{
    background: #ffa642;
    color: #eeeee7;
}

header, footer {
    width: 98%;
    background-color: #eeeee7;
    min-height: 100px;
}

/*ШАПКА*/
header{
    width: 100%;
    height: 98%;
    background-image: url("../img/head.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.logo{
    width: 7%;
    margin-left: 11%;
    position: absolute;
    top: 4%;
}
#buttom-block {
    position: absolute;
    top: 30%;
    right: 3%;
    width:50%;
    min-height: 50%;
    text-align: center;
    float: right;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
}
#buttom-block li {
    display: inline-block;
    width: 20%;
    padding: 1%;
}
#nav ul { margin: 0; }

#buttom-block a {
    color: #0f0e0e;
}
#buttom-block a:hover {
    color: #eeeee7;
}
#reg a {
    color: #ffa642;
}/*
#reg a:hover {
    color: #2d2d2d;
}*/
/*КОНЕЦ ШАПКИ*/

/*ПЕРВАЯ СТРАНИЦА*/
#first-page{
    /*min-height: 500px;
    width: 100%;*/
    min-height: 557px;
    background-image: url("../img/mainback.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #76c3e6;
    position:relative;
}
#inviting{
    float: right;
    font-family: Calibri, sans-serif;
    text-align: left;
    color: #f0f0e7;
}
#december{
    font-weight: 550;
    text-transform: uppercase;
    font-size: 1.8em;
    position: absolute;
    bottom: 31%;
    right: 5%;
}
#press-here{
    font-size: 1.2em;
    position: absolute;
    bottom: 20%;
    right: 5%;
}
#press-here a{
    color: #ffa642;
    text-transform: uppercase;
}
#press-here a:hover {
    text-decoration: underline;
}

#sofar{
    font-family: Calibri, sans-serif;
    text-align: right;
    color: #8d8d8d;
    position: absolute;
    bottom: 0.3%;
    right: 0.3%;
    float: right;
    font-size: 0.9em;
    text-transform: uppercase;
}
/*КОНЕЦ ПЕРВОЙ СТРАНИЦЫ*/

/*ВТОРАЯ СТРАНИЦА*/
#second-page {
    padding-top: 4%;
    padding-bottom: 5%;
    padding-left:13%;
    padding-right:13%;
}
h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: Mistral, sans-serif;
    text-align: center;
    padding-bottom: 5%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 3%;
}
#second-page p{
    font-size: 1.5em;
}
#second-page a:hover{
    text-decoration: underline;
}
#first-pict{
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text1 {
    float: right;
    display: inline-block;
    width: 39%;
    text-align: justify;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 7%;
}

#second-pict{
    float: right;
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text2 {
    display: inline-block;
    width: 40%;
    text-align: justify;
    padding: 5%;
    padding-bottom: 12%;
}
#third-pict{
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text3 {
    float: right;
    display: inline-block;
    text-align: justify;
    width: 39%;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 7%;
}
/*КОНЕЦ ВТОРОЙ СТРАНИЦЫ*/

/*ФУТЕР*/
footer {
    width: 100%;
    background-color: #2d2d2d;
    text-transform: uppercase;
    height: 100%;
    padding-bottom: 12%;
}

#footerleft{
    float: left;
    width: 40%;
    height: 30%;
    color:#ffa642;
    text-align: center;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}
#footerleft img{
    width:31%;
    padding-top: 1%;
    padding-bottom: 4%;
}

#footerleft li {
   display: inline-block;
   width: 20%;
   padding: 2%;
}
#footerleft a:hover {
    color: #eeeee7;
}

#footercenter{
    padding-top: 3%;
    float: right;
    width: 18%;
    text-align: left;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}

#footercenter li {
    display: block;
    padding: 6%;
    padding-left: 2%;
}
#footercenter a:hover {
    color: #eeeee7;
}

#footerright{
      width: 32%;
      float:right;
      color: #eeeee7;
}
#footerright div {display: block;}
.adres{
    padding-top: 12%;
    padding-bottom: 8%;
    font-size: 1.5em;
    color:#ffa642;
}
.address{
    padding-bottom: 7%;
}
.mail{
    margin-bottom: 6%;
}

.networks img{
   width: 6%;
   padding-right: 10%;
}
/*КОНЕЦ ФУТЕРА*/



@media screen and (min-width: 1500px){
    header{ min-height: 130px; }
    .logo{width: 8%;
        top: 3%;}
    #buttom-block { font-size: 1.5em;}
    #first-page{ min-height: 640px;}
    #december{font-size: 2.0em;}
    #press-here{font-size: 1.5em; }
    #sofar{font-size: 1em;}
    #second-page {padding-left:18%;
        padding-right:18%;}
    h1 {font-size: 3.0em;}
    h2{ font-size: 1.7em;}
    #second-page p{ font-size: 1.6em;}
    #first-pict{width: 50%;
        padding-right: 0%;
        padding-left: 0%;}
    #text1 {width: 44%;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 4%;}
    #second-pict{ width: 50%;
        padding-right: 0%;
        padding-left: 0%;}
    #text2 {width: 45%;
        padding-bottom: 14%;
        padding-top: 4%;
        padding-left: 1%;
        padding-right: 4%;}
    #third-pict{width: 50%;
        padding:  1%;
        padding-left: 0%;
        padding-right: 0%;
    }
    #text3 {width: 44%;
        padding-left: 2%;
        padding-right: 4%;
        padding-top: 2%;
    }
    footer {padding-bottom: 13%;}
    #footerleft img{width:30%;
        padding-top: 2%;}
    .address{font-size: 1.2em;}
    .mail{font-size: 1.2em;}
    .networks img{width: 7%;}
}

@media screen and (max-width: 1200px){
    .logo{width: 8%;
        top: 3%;}
    #buttom-block { font-size: 1.2em;}
    #first-page{ min-height: 500px;}
    #december{font-size: 1.5em;}
    #press-here{font-size: 1.0em; }
    #sofar{font-size: 0.8em;}
    h1 {font-size: 2.4em;}
    h2{ font-size: 1.3em;}
    #second-page p{ font-size: 1.3em;}
    #first-pict{width: 45%;
        padding-right: 2%;}
    #text1 {padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;}
    #second-pict{ width: 45%;
        padding-right: 2%;}
    #text2 {padding-top: 4%;
        padding-left: 3%;}
    #third-pict{width: 45%;
        padding-right: 2%;
    }
    #text3 {padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
    }
    #footerleft img{width:30%;
        padding-top: 2%;}
    #footerleft {font-size: 1.4em;}
    #footercenter{font-size: 1.4em;}
    .adres{font-size: 1.4em;}
}

@media screen and (max-width: 1024px){
    header,footer{min-height: 90px;}
    .logo{width: 9%;
        top: 0%;}
    #buttom-block {font-size: 1.1em;}
    #first-page{min-height: 445px;}
    #december{font-size: 1.4em;}
    #sofar{font-size: 0.7em;}
    h1 {font-size: 2.2em;}
    h2{font-size: 1.2em;
        padding: 1%;}
    #second-page p{font-size: 1.2em;}
    #first-pict{padding-left: 1%;}
    #text1 {width: 43%;
        padding-right: 1%;
        padding-top: 1%;}
    #second-pict{padding-right: 1%;
        padding-left: 1%; }
    #text2 {width: 43%;
        padding-top: 6%;
        padding-bottom: 12%;
        padding-left: 1%;}
    #third-pict{padding-left: 1%;
        padding-right: 1%;}
    #text3 {width: 43%;
        padding-right: 1%;
        padding-left: 0%;
        padding-top: 1%;}
    #footerleft{font-size: 1.3em;}
    #footerleft img{padding-top: 3%;
    padding-left: 10%;}
    #footercenter{padding-top: 2%;
        width: 18%;
        font-size: 1.3em;}
    #footerright{width: 32%;
        font-size: 0.9em;}
    .adres{font-size: 1.3em;
        padding-bottom: 6%;
        padding-top: 10%;}
    .mail{margin-bottom: 7%;}
    .networks img{width: 7%; }
}


@media screen and (max-width: 880px){
    .logo{width: 10%;}
    #buttom-block {font-size: 1.2em;
    padding-right: 3%;}
    #first-page{min-height: 500px;}
    #press-here{font-size: 1.0em;}
    #second-page {padding-left:5%;
        padding-right:5%;}
    #second-page p{font-size: 1.1em;}
    #first-step{margin-bottom: 3%;}
    #first-pict{width: 49%;
        padding-right: 0%;}
    #text1 {width: 47%;
        padding-right: 0%;
        padding-left: 3%;
        padding-top: 5%;}
    #second-step{margin-bottom: 3%;}
    #second-pict{width: 47%;
        padding-right: 0%;
        padding-left: 3%; }
    #text2 {width: 47%;
        padding-right: 3%;
        padding-left: 0%;}
    #third-step{margin-bottom: 3%;}
    #third-pict{width: 49%;
        padding-right: 0%;}
    #text3 {width: 43%;
        padding-right: 1%;
        padding-left: 0%;
        padding-top: 5%;}
    footer {padding-bottom: 15%;}
    #footerleft img{width:38%;
        padding-top: 5%;}
    #footercenter{padding-top: 2%;}
    #footercenter li {padding-bottom: 10%;}
    .adres{padding-bottom: 8%;}
    .address{padding-bottom: 9%;}
    .mail{margin-bottom: 9%;}
    .networks img{width: 8%;}
}

@media screen and (max-width: 767px){
    .logo{width: 11%;}
    #buttom-block {width: 65%; }
    #second-page {padding-top: 7%;
        padding-left:3%;
        padding-right:3%;}
    h1 {padding-bottom: 5%;}
    h2{padding: 1%;}
    #second-page p{font-size: 1.0em;}
    #text1 {padding-top: 0%;}
    #second-step{margin-bottom: 2%;}
    #text2 {width: 48%;
        padding-top: 2%;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 15%;}
    #text3 {width: 47%;
        padding-right: 0%;
        padding-left: 3%;
        padding-top: 1%;}
    footer {padding-bottom: 50%;
        position: relative;}
    #footerleft{position: absolute;
        top: 5%;
        left: 9%;
        width: 45%;
        height: 30%;
        font-size: 1.2em;}
    #footerleft img{width:44%;
        padding-bottom: 6%;
        padding-left: 20%;}
    #footercenter{position: absolute;
        top: 10%;
        right: 20%;
        width: 20%;
        text-align: left;
        font-size: 1.2em;}
    #footercenter li {text-align: center;
        padding-left: 4%;
        padding-bottom: 11%;}
    #footerright{text-align: center;
        width: 50%;
        padding-top: 33%;
        padding-left: 25%;
        padding-right: 25%;}
    #footerright div { display: inline-block;
    padding-right: 0%;}
    .adres{ font-size: 1.1em;}
    .address{ font-size: 1.1em;}
    .mail{font-size: 1.1em;
        padding-top: 0%;
        padding-left: 0%;}
    .networks{ padding-left: 0%;
        padding-top: 0%;}
    .networks img{ width: 15%;
        padding-right: 12%;}
}


@media screen and (max-width: 650px){
    .logo{width: 14%;}
    #second-page {padding-left:2%;
        padding-right:2%;}
    h1 {padding-bottom: 7%;}
    h2{font-size: 1.1em;
        padding: 0%;}
    #first-step{margin-bottom: 5%;}
    #second-step{margin-bottom: 4%;}
    #text2 {padding-bottom: 11%;}
    #text3 {width: 48%;
        padding-left: 2%;}
    footer {padding-bottom: 55%;}
    #footercenter{top: 7%;}
}

@media screen and (max-width: 575px){
    .logo{width: 15%;}
    #buttom-block {font-size: 1.0em;}
    #december{font-size: 1.6em;
        bottom: 28%;}
    #press-here{font-size: 1.1em;
        bottom: 15%;}
    #sofar{font-size: 0.7em;}
    #second-page {padding-top: 7%;
        padding-left:2%;
        padding-right:2%;
        min-height: 95em;}
    #first-step{margin-bottom: 5%;}
    #first-pict{width: 80%;
        padding-right: 10%;
        padding-left: 10%;}
    #text1 {width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;}
    #second-pict{width: 80%;
        padding-right: 10%;
        padding-left: 10%; }
    #text2 {width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;}
    #third-pict{width: 80%;
        padding-right: 10%;
        padding-left: 10%;}
    #text3 {width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;}
    footer {padding-bottom: 70%;
        position: relative;}
    #footerleft{top: 7%;
        left: 5%;}
    #footerleft img{padding-top: 5%;}
    #footercenter li {display: block;
        padding: 6%;}
    #footerright{padding-top: 38%;}
}

@media screen and (max-width: 480px){
    header {min-height: 110px;}
    .logo{width: 22%;}
    .menu2{display: block;
        position: absolute;
        top: 33%;
        right: 3%;
        width:20%;
        float: right;}
    #first-page {min-height: 480px;}
    #buttom-block {display: none;}
    #december{bottom: 31%;
        right:3%;}
    #press-here{right:9%;}
    #second-page {min-height: 85em;}
    footer {position: static;
        padding-right: 0%;
        padding-bottom: 5%;
        display: inline-block;}
    #footerleft{position: static;
        width: 40%;
        padding: 0%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: left;}
    #footerleft img{width:90%;
        padding: 10%;}
    #footerleft li {width: 35%;
        padding: 0%;}
    #footercenter{position: static;
        text-align: center;
        width: 60%;
        padding: 3%;
        padding-left: 20%;
        padding-right: 20%;}
    #footercenter li {padding: 4%;
        padding-bottom: 3%;}
    #footerright{position: static;
        width: 80%;
        padding-top: 0%;
        padding-left: 10%;
        padding-right: 10%;}
    #footerright div {padding-left: 0%;}
    .adres{ padding-bottom: 5%;}
    .address{padding-bottom: 5%;}
    .mail{margin-bottom: 5%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;}
    .networks{ width: 100%;}
    .networks img{ width: 9%;
        padding-right: 5%;
        padding-left: 5%;}
}


@media screen and (max-width: 320px){
    header {min-height: 100px;}
    .logo{width: 28%;}
    .menu2{right: 5%;
        width:18%;}
    #december{font-size: 1.2em;}
    #press-here{font-size: 0.9em;
        bottom: 15%;
        right:9%;}
    #second-page {min-height: 77em;}
    #footerleft li {display: inline-block;}
    .adres{ font-size: 1.0em;}
    .address{ font-size: 1.0em;}
    .mail{font-size: 1.0em;}
}
