@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    color: #2d2d2d;
    background: #eeeee7;
    font-size: 1em;
    font-family: Calibri, sans-serif;
    line-height: 135%;
}

a{
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;/*
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;*/
}
a heaver{/*ссылка*/
    color: #ffa642;
    text-decoration: none;
    transition: all.6s ease;/*
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;*/
}
a:active{
    color: #171712;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;/*для експлорера*/
}

/*Создаем стили при выделении на сайте*/
::selection{
    background: #ffa642;
    color: #eeeee7;
}/*
::moz-selection {
    background: #ffa642;
    color: #eeeee7;
}*/

header, footer {
    width: 98%;
    background-color: #eeeee7;
    min-height: 100px;
}

/*ШАПКА*/
header{
    width: 100%;
    height: 98%;
    background-image: url("../img/head.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.logo{
    width: 10%;
    margin-left: 10%;
    position: absolute;
    top: 8%;
}
#buttom-block {
    position: absolute;
    top: 30%;
    right: 3%;
    width:50%;
    min-height: 50%;
    text-align: center;
    float: right;
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
}
#buttom-block li {
    display: inline-block;
    width: 20%;
    padding: 1%;
}
#nav ul { margin: 0; }

#buttom-block a {
    color: #0f0e0e;
    font-weight: lighter;
    /*text-shadow: 0 -1px 0 #636363;*/
     }
#buttom-block a:hover {

}
/*КОНЕЦ ШАПКИ*/

/*ПЕРВАЯ СТРАНИЦА*/
#first-page{
    /*min-height: 500px;
    width: 100%;*/
    min-height: 557px;
    background-image: url("../img/mainback.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #76c3e6;
    position:relative;
}
#inviting{
    float: right;
    font-family: Calibri, sans-serif;
    text-align: left;
    color: #f0f0e7;
}
#december{
    font-weight: 550;
    text-transform: uppercase;
    font-size: 1.9em;
    position: absolute;
    bottom: 31%;
    right: 5%;
}
#press-here{
    font-size: 1.1em;
    position: absolute;
    bottom: 20%;
    right: 5%;
}
#here{
    color: #ffa642;
    text-transform: uppercase;
}
#sofar{
    font-family: Calibri, sans-serif;
    text-align: right;
    color: #8d8d8d;
    position: absolute;
    bottom: 0.3%;
    right: 0.3%;
    float: right;
}
/*КОНЕЦ ПЕРВОЙ СТРАНИЦЫ*/

/*ВТОРАЯ СТРАНИЦА*/
#second-page {
    padding-top: 4%;
    padding-bottom: 5%;
    padding-left:13%;
    padding-right:13%;
}
h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: Mistral, sans-serif;
    text-align: center;
    padding-bottom: 5%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 3%;
}
#second-page p{
    font-size: 1.5em;
}
#first-pict{
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text1 {
    float: right;
    display: inline-block;
    width: 40%;
    text-align: justify;
    padding: 5%;
}
#second-pict{
    float: right;
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text2 {
    display: inline-block;
    width: 40%;
    text-align: justify;
    padding: 5%;
    padding-bottom: 12%;
}
#third-pict{
    width: 48%;
    display: inline-block;
    padding:  1%;
}
#text3 {
    float: right;
    display: inline-block;
    width: 40%;
    text-align: justify;
    padding: 5%;
    padding-top: 4%;
}
/*КОНЕЦ ВТОРОЙ СТРАНИЦЫ*/

/*ФУТЕР*/
footer {
    width: 100%;
    border-top: 2px solid silver;
    background-color: #2d2d2d;
    text-transform: uppercase;
    height: 100%;
    padding-bottom: 15%;
}

#footerleft{
   float: left;
   width: 40%;
   height: 30%;
}
#footerleft img{
   width:33%;
   padding-bottom: 3%;
}
#footerleft {
    color:#ffa642;
    text-align: center;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}
#footerleft li {
   display: inline-block;
   width: 20%;
   padding: 2%;
}

#footercenter{
    padding-top: 3%;
    float: right;
    width: 18%;
    text-align: left;
    font-size: 1.5em;
    font-family: Calibri, sans-serif;
}

#footercenter li {
    display: block;
    padding: 6%;
    padding-left: 2%;
}

#footerright{
      width: 32%;
      float:right;
      color: #eeeee7;
}
.adres{
    padding-top: 12%;
    padding-bottom: 8%;
    font-size: 1.5em;
    color:#ffa642;
}
.address{
    padding-bottom: 7%;
}
.mail{
    margin-bottom: 6%;
}

.networks img{
   width: 6%;
   padding-right: 10%;
}
/*КОНЕЦ ФУТЕРА*/
